body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #333;
  padding: 15px;
  text-align: left;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #555;
}

/* Add media query for responsive design */
@media screen and (max-width: 600px) {
  nav {
    text-align: center;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin-bottom: 10px;
    margin-right: 0;
  }
}
/* Dashboard */

/* Add styles for the dashboard container */
.dashboard-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 255, 0.1); /* Blue transparent color */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Add styles for the dashboard posts container */
.dashboard-posts-container {
  margin-top: 20px;
}

/* Add styles for the dashboard posts */
.dashboard-posts {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

/* Add media query for responsive design */
@media screen and (max-width: 600px) {
  .dashboard-container {
    padding: 10px;
  }
}
/* REGISTER */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 50px;
}

/* Add media query for responsive design */
@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
}

/* Welcome */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, rgb(2, 153, 140), lightblue
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 50px;
}

/* Add media query for responsive design */
@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
}